body {
	margin: 0;
	padding: 0;
}

#app {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-image: url("@/assets/img/background-image.webp");
	display: flex;
	justify-content: center;
	align-items: center;
}

main.main {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	background-color: rgba(255, 240, 245, 0.5);
}

section.page {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
}

dialog {
	width: 30vw;
	border: 1px solid;
	font-size: 1.2em;
	border-radius: 0.8em;
}

.hide {
	display: none;
}

div.loading {
	position: relative;
	width: 96px;
	height: 96px;
	animation: satellite 3s infinite linear;
	border: 1px solid #000;
	border-radius: 100%;
}

div.loading:before,
div.loading:after {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 24px;
	height: 24px;
	content: "";
	border-radius: 100%;
	background-color: #000;
	box-shadow: 0 0 10px #000;
}

div.loading:after {
	right: 0;
	width: 40px;
	height: 40px;
	margin: 26px;
}

input,
select {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	width: 120px;
	height: 2.2em;
	padding: 0 24px 0 8px;
	background-color: rgba(255, 240, 245, 0.5);
}


input:focus-visible,
select:focus-visible {
	outline: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@keyframes satellite {
	from {
		transform: rotate(0) translateZ(0);
	}

	to {
		transform: rotate(360deg) translateZ(0);
	}
}